<app-loading *ngIf="loading"></app-loading>
<div class="jumbotron jumbotron-fluid">
    <h1 class="display-4">Bienvenido al formulario Imbanaco</h1>
    <p class="lead">Este formulario actualmente se encuentre en desarrollo y se realiza de la mano con Manar Technologies</p>
    <hr class="my-4">
    <div class="card siam-panel">
        <h5 class="card-header siam-panel-head siam-title">Diligenciar formulario</h5>
        <form [formGroup]="searchForm" (ngSubmit)="buscarPaciente()">
            <div class="card-body siam-panel-body">
                <div class="form-row">
                    <div class="col-3">
                        <label for="userTipoId" class="siam-input-label">Tipo de Identificación</label>
                        <select id="userTipoId" class="form-control siam-select-input" formControlName="personIdType">
                            <option selected hidden value="">Seleccionar</option>
                            <option *ngFor="let concepto of conceptosService.conceptosTi" [value]="concepto.conNumero">{{ concepto.conNombre }}</option>
                        </select>
                        <small *ngIf="searchForm.controls['personIdType'].invalid && searchForm.controls['personIdType'].touched" class="form-text data-table-info">Campo obligatorio</small>
                    </div>
                    <div class="col">
                        <label for="personId" class="siam-input-label">Identificación</label>
                        <input type="text" class="form-control  siam-text-input-id" id="personId" formControlName="personId">
                        <small *ngIf="searchForm.controls['personId'].invalid && searchForm.controls['personId'].touched" class="form-text data-table-info">Campo obligatorio</small>
                    </div>
                </div>
                <br>
                <button [disabled]="searchForm.invalid" class="btn btn-primary btn-lg siam-button siam-buttons-box" type="submit"> Buscar </button>

            </div>
        </form>
    </div>
    <br>
    <div>
        <table class="table" *ngIf="pacientesService.hisPacientes.length > 0">
            <thead>
                <tr>
                    <th scope="col" class="table-header">#</th>
                    <th scope="col" class="table-header">Nombre</th>
                    <th scope="col" class="table-header">Identificación</th>
                    <th scope="col" class="table-header">Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let paciente of pacientesService.hisPacientes; let i = index">
                    <th scope="row">{{ i+1 }}</th>
                    <td>{{ paciente.pacNombre }}</td>
                    <td>{{ paciente.pacNumeroId }}</td>
                    <td class="siam-buttons-box">
                        <a (click)="verFormulario(paciente)" class="btn btn-primary btn-lg siam-button">Formulario</a>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>