<div class="jumbotron jumbotron-fluid">
    <h1 class="display-4">Bienvenido al formulario Imbanaco</h1>
    <p class="lead">Este formulario actualmente se encuentre en desarrollo y se realiza de la mano con Manar Technologies</p>
    <hr class="my-4">
    <p class="siam-panel-head">Diligenciar formulario</p>
    <p class="lead">
        <!-- <a class="btn btn-primary btn-lg" role="button" routerLink="formulario">Ir -></a> -->
        <a class="btn btn-primary btn-lg" routerLink="/formulario" routerLinkActive="active">Formulario</a>
    </p>
</div>

<div class="card siam-panel">
    <h5 class="card-header siam-panel-head">Diligenciar formulario</h5>
    <div class="card-body  siam-panel-body">
        <a class="btn btn-primary btn-lg siam-buttons-box" routerLink="/formulario" routerLinkActive="active">Formulario</a>
    </div>
</div>