<form [formGroup]="attrForm" (ngSubmit)="guadarPaciente()">
    <div class="card siam-panel">
        <h5 class="card-header siam-panel-head siam-title">Información del usuario: {{hisPaciente.pacNombre}}</h5>
        <div class="card-body siam-panel-body">

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="userId" class="siam-input-label">Identificación</label>
                        <input [value]="hisPaciente.pacNumeroId" type="text" class="form-control siam-text-input-id" id="userId" aria-describedby="userIdType" disabled>
                        <small id="userIdType" class="form-text text-muted">Tipo de identificación: {{ conceptos.conNombre }} </small>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="userBirthday" class="siam-input-label">Fecha de nacimiento</label>
                        <input [value]="hisPaciente.pacFechaNac|date:'dd/MM/YYYY'" type="text" class="form-control siam-text-input-id" id="userBirthday" disabled>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="userAge" class="siam-input-label">Edad</label>
                        <input [value]="pacienteEdad" type="text" class="form-control siam-text-input-id" id="userAge" disabled>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="userEtnia" class="siam-input-label">Etnia</label>
                        <select id="userEtnia" class="form-control siam-select-input" formControlName="AttrEtnia">
                          <option hidden>Seleccionar</option>
                          <option *ngFor="let etnia of conceptosService.conceptosEtnia" [value]="etnia.conNumero" >{{ etnia.conNombre }}</option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="userSex" class="siam-input-label">Sexo</label>
                        <input [value]="hisPaciente.pacSexo|sexo" type="text" class="form-control siam-text-input-id" id="userSex" disabled>
                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        <label for="userOccupation" class="siam-input-label">Ocupación</label>
                        <input type="text" class="form-control siam-text-input-id" id="userOccupation" formControlName="AttrOcupacion">
                    </div>
                </div>
            </div>

            <br>

        </div>
    </div>
    <br>
    <br>


    <div class="card siam-panel">
        <h5 class="card-header siam-panel-head siam-title">Variables Clínicas</h5>
        <div class="card-body siam-panel-body">
            <div class="row">

                <div class="col">
                    <div class="form-group">
                        <label for="userConsultDate" class="siam-input-label">Fecha de primera consulta en el programa de falla cardíaca </label>
                        <div>
                            <input matInput [matDatepicker]="pickerFechaPrimConsul" class="form-control siam-text-input-id" formControlName="AttrFechaPrimConsul" id="userConsultDate" style="display: inline; width: 60%;">
                            <mat-datepicker-toggle matSuffix [for]="pickerFechaPrimConsul"></mat-datepicker-toggle>
                            <mat-datepicker #pickerFechaPrimConsul></mat-datepicker>
                        </div>

                    </div>
                </div>

            </div>

            <div class="row">


                <div class="col">
                    <div class="form-group">
                        <label for="userDispositivoCardiaco" class="siam-input-label">Implante de dispositivos cardíacos</label>
                        <select id="userDispositivoCardiaco" class="form-control siam-select-input" formControlName="AttrImplanteDispositivo">
                                <option hidden>Seleccionar</option>
                                <option *ngFor="let concepto of conceptosService.conceptosSiNo" [value]="concepto.conNumero">{{ concepto.conNombre }}</option>
                        </select>
                    </div>
                </div>

                <div class="col" *ngIf="implanteCardiaco || pacienteAttr.attrImplanteDispositivo == conceptosService.conceptosNo.conNumero">
                    <div class="form-group">
                        <label for="userDispositivoCardiacoType" class="siam-input-label">Tipo de dispositivos cardíacos</label>
                        <select id="userDispositivoCardiacoType" class="form-control siam-select-input" formControlName="AttrTipoImplanteDispositivo">
                            <option hidden>Seleccionar</option>
                            <option *ngFor="let concepto of conceptosService.conceptosDispCardiaco" [value]="concepto.conNumero">{{ concepto.conNombre }}</option>
                          </select>
                    </div>
                </div>

            </div>


            <div class="row">

                <div class="col">
                    <div class="form-group">
                        <label for="userSindromeClinico" class="siam-input-label">Forma de presentación del síndrome clínico</label>
                        <select id="userSindromeClinico" class="form-control siam-select-input" formControlName="AttrFormaSindClinico">
                            <option hidden>Seleccionar</option>
                            <option *ngFor="let concepto of conceptosService.conceptosSindClinico" [value]="concepto.conNumero" >{{ concepto.conNombre }}</option>
                        </select>
                    </div>
                </div>

                <div class="col" *ngIf="tieneOtroSindromeClinico || pacienteAttr.attrFormaSindClinico == conceptosService.conceptosOtroSindClinico.conNumero">
                    <div class="form-group">
                        <label for="userSindromeClinicootro" class="siam-input-label">¿Cual?</label>
                        <input type="text" class="form-control siam-text-input-id" id="userSindromeClinicootro" formControlName="AttrOtraFormaSindClinico">
                    </div>
                </div>

            </div>



            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="userManifestacionesExtracardiacas" class="siam-input-label">Manifestaciones extracardíacas</label>
                        <select id="userManifestacionesExtracardiacas" class="form-control siam-select-input" formControlName="AttrManifestExtracardiaca">
                          <option hidden>Seleccionar</option>
                          <option *ngFor="let concepto of conceptosService.conceptosSiNo" [value]="concepto.conNumero" >{{ concepto.conNombre }}</option>
                        </select>
                    </div>
                </div>
                <div class="col" *ngIf="tieneManifestacionesExtracardiacas  || pacienteAttr.attrManifestExtracardiaca == conceptosService.conceptosNo.conNumero">
                    <div class="form-group">
                        <label for="userManifestacionesExtracardiacasType" class="siam-input-label">Tipo de manifestaciones extracardíacas</label>
                        <select id="userManifestacionesExtracardiacasType" class="form-control siam-select-input" formControlName="AttrTipoManifestExtracardiaca">
                          <option hidden>Seleccionar</option>
                          <option *ngFor="let concepto of conceptosService.conceptosManifesCardi" [value]="concepto.conNumero">{{ concepto.conNombre }}</option>
                        </select>
                    </div>
                </div>
                <div class="col" *ngIf="tieneOtrasManifestacionesExtracardiacas || pacienteAttr.attrTipoManifestExtracardiaca == conceptosService.conceptosOtraManifesCardi.conNumero">
                    <div class="form-group">
                        <label for="userManifestacionesExtracardiacasOtroTipo" class="siam-input-label">¿Cual?</label>
                        <input type="text" class="form-control siam-text-input-id" id="userManifestacionesExtracardiacasOtroTipo" formControlName="AttrOtroTipoManifestExtracardiaca">
                    </div>
                </div>

            </div>
            <br>

        </div>
    </div>
    <br>
    <br>



    <div class="card siam-panel">
        <h5 class="card-header siam-panel-head siam-title">Ecocardiografía</h5>
        <div class="card-body siam-panel-body">

            <div class="row">

                <div class="col">
                    <div class="form-group">
                        <label for="userGrosorVentriculoIzquierdo" class="siam-input-label">Grosor de cualquier pared del ventrículo izquierdo ≥ 14 mm</label>
                        <select id="userGrosorVentriculoIzquierdo" class="form-control siam-select-input" formControlName="AttrGrosorVentri">
                            <option hidden>Seleccionar</option>
                            <option *ngFor="let concepto of conceptosService.conceptosSiNo" [value]="concepto.conNumero">{{ concepto.conNombre }}</option>
                        </select>
                    </div>
                </div>
            </div>



            <div class="row" *ngIf="tieneGrosorVentriculoIzquierdo || pacienteAttr.attrGrosorVentri == conceptosService.conceptosNo.conNumero">

                <div class="col">
                    <div class="form-group">
                        <label for="userEjectionFraction" class="siam-input-label">Fracción de eyección</label>
                        <input type="number" class="form-control siam-text-input-id" id="userEjectionFraction" formControlName="AttrFracEyecc">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="userTroponinT" class="siam-input-label">Deformación longitudinal apical</label>
                        <input type="number" class="form-control siam-text-input-id" id="userTroponinT" formControlName="AttrDeformLong">
                    </div>
                </div>

            </div>

            <br>

        </div>
    </div>


    <br>
    <br>


    <div class="card siam-panel">
        <h5 class="card-header siam-panel-head siam-title">Imágenes diagnósticas confirmatorias</h5>
        <div class="card-body siam-panel-body">

            <div class="row">

                <div class="col">

                    <div class="form-group">
                        <label for="userResonanciaMagnetica" class="siam-input-label">Resonancia Magnética nuclear con Gadolinio</label>
                        <select id="userResonanciaMagnetica" class="form-control siam-select-input" formControlName="AttrResoNucleGodolinio">
                            <option hidden>Seleccionar</option>
                            <option (click)="mostrarResonanciaMagnetica(concepto.conParametro)" *ngFor="let concepto of conceptosService.conceptosResMagGodoli" [value]="concepto.conNumero">{{ concepto.conNombre }}</option>
                        </select>
                    </div>

                </div>

                <div class="col" *ngIf="tieneResonanciaMagnetica">

                    <div class="form-group">
                        <label for="userTipoResonanciaMagnetica" class="siam-input-label">Tipo de anormalidad de la resonancia Magnética nuclear con Gadolinio</label>
                        <select id="userTipoResonanciaMagnetica" class="form-control siam-select-input" formControlName="AttrTipoAnormGadolinio">
                        <option *ngFor="let concepto of conceptosService.conceptosTipMagGodoli" [value]="concepto.conNumero" >{{ concepto.conNombre }}</option>

                        </select>
                    </div>

                </div>
            </div>

            <div class="row">

                <div class="col">
                    <div class="form-group">
                        <label for="userGammagrafiaOsea" class="siam-input-label">Gammagrafía ósea con Tc-HMDP o pirofosfato (PYP)</label>
                        <select id="userGammagrafiaOsea" class="form-control siam-select-input" formControlName="AttrGammagr">
                            <option hidden>Seleccionar</option>
                            <option *ngFor="let concepto of conceptosService.conceptosGammagrafia" [value]="concepto.conNumero">{{ concepto.conNombre }}</option>
                        </select>
                    </div>
                </div>

            </div>

            <br>

        </div>
    </div>

    <br>
    <br>


    <div class="card siam-panel">
        <h5 class="card-header siam-panel-head siam-title">Caracterización genética</h5>
        <div class="card-body siam-panel-body">
            <div class="row">

                <div class="col">
                    <div class="form-group">
                        <label for="userAmiloidosisPrimaria" class="siam-input-label">Amiloidosis primaria (AL)</label>
                        <select id="userAmiloidosisPrimaria" class="form-control siam-select-input" formControlName="AttrAmiloidosis">
                            <option hidden>Seleccionar</option>
                            <option *ngFor="let concepto of conceptosService.conceptosSiNo" [value]="concepto.conNumero">{{ concepto.conNombre }}</option>
                        </select>
                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        <label for="userAttr" class="siam-input-label">ATTR-CM</label>
                        <select id="userAttr" class="form-control siam-select-input" formControlName="AttrAttrCm">
                            <option hidden>Seleccionar</option>
                            <option *ngFor="let concepto of conceptosService.conceptosSiNo" [value]="concepto.conNumero">{{ concepto.conNombre }}</option>
                        </select>
                    </div>
                </div>

            </div>

            <div class="row" *ngIf="tieneAtter || pacienteAttr.attrAttrCm == conceptosService.conceptosNo.conNumero">

                <div class="col">
                    <div class="form-group">
                        <label for="userFechaAttr" class="siam-input-label"> Fecha de diagnóstico de ATTR</label>
                        <div>
                            <input matInput [matDatepicker]="pickerFechaAttrCm" class="form-control siam-text-input-id" formControlName="AttrFechaAttrCm" id="userFechaAttr" style="display: inline; width: 90%;">
                            <mat-datepicker-toggle matSuffix [for]="pickerFechaAttrCm"></mat-datepicker-toggle>
                            <mat-datepicker #pickerFechaAttrCm></mat-datepicker>
                        </div>

                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        <label for="userTipoAttr" class="siam-input-label">Tipo ATTR-CM</label>
                        <select id="userTipoAttr" class="form-control siam-select-input" formControlName="AttrTipoAttrCm">
                            <option hidden>Seleccionar</option>
                            <option *ngFor="let concepto of conceptosService.conceptosTipoAttr" [value]="concepto.conNumero" >{{ concepto.conNombre }}</option>
                        </select>
                    </div>
                </div>

            </div>

            <br>

        </div>
    </div>

    <br>
    <br>


    <div class="card siam-panel">
        <h5 class="card-header siam-panel-head siam-title">Manejo medico</h5>
        <div class="card-body siam-panel-body">
            <form>

                <div class="row">

                    <div class="col">
                        <div class="form-group">
                            <label for="userInvervencionFarmacologica" class="siam-input-label">Intervención farmacológica </label>
                            <select id="userInvervencionFarmacologica" class="form-control siam-select-input" formControlName="AttrInterFamaco">
                                <option hidden>Seleccionar</option>
                                <option (click)="otraInvervencionFarmacologica(concepto.conParametro)" *ngFor="let concepto of conceptosService.conceptosInterFamaco" [value]="concepto.conNumero">{{ concepto.conNombre }}</option>
                            </select>
                        </div>
                    </div>

                    <div class="col" *ngIf="tieneOtraInvervencionFarmacologica || pacienteAttr.attrInterFamaco == conceptosService.conceptosOtraInterFamaco.conNumero">
                        <div class="form-group">
                            <label for="userOtraInvervencionFarmacologica" class="siam-input-label">¿Cual?</label>
                            <input type="text" class="form-control siam-text-input-id" id="userOtraInvervencionFarmacologica" formControlName="AttrOtroInterFamaco">
                        </div>
                    </div>

                </div>

            </form>
            <br>

        </div>
    </div>


    <br>
    <br>

    <button *ngIf="!flagExistePaciente" class="btn btn-primary btn-lg siam-button siam-buttons-box" type="submit"> Guardar información del paciente </button>
    <button *ngIf="flagExistePaciente" class="btn btn-primary btn-lg siam-button siam-buttons-box" type="submit"> Actualizar información del paciente </button>

    <br>
    <hr>
</form>