<button class="btn btn-primary btn-lg siam-button siam-buttons-box" routerLink="home">Volver</button>
<br>
<br>

<app-formulario-persona [hisPaciente]="hisPaciente" [pacienteEdad]="pacienteEdad" [conceptos]="conceptos" [pacienteAttr]="pacienteAttr" flagExistePaciente="flagExistePaciente"></app-formulario-persona>

<div class="col">
    <div class="form-group">
        <label for="userComorbidity" class="siam-input-label">Comorbilidades</label>
        <select id="userComorbidity" class="form-control siam-select-input">
      <option selected hidden>Seleccionar</option>
      <option *ngFor="let concepto of conceptosService.conceptosComorbilidad" [value]="concepto.conNumero">{{ concepto.conNombre }}</option>
    </select>
    </div>
</div>


<app-biomarcadores [biomarcadores]="biomarcadores" [hisPaciente]="hisPaciente" [pacienteAttr]="pacienteAttr"></app-biomarcadores>

<br>
<br>

<app-hospitalizaciones [hospitalizaciones]="hospitalizaciones" [hisPaciente]="hisPaciente" [pacienteAttr]="pacienteAttr"></app-hospitalizaciones>

<br>
<br>

<app-calidad-de-vida [calidadesVida]="calidadesVida" [hisPaciente]="hisPaciente" [pacienteAttr]="pacienteAttr"> </app-calidad-de-vida>

<br>
<br>

<app-encuesta-attr [encuestas]="encuestas" [hisPaciente]="hisPaciente" [pacienteAttr]="pacienteAttr"></app-encuesta-attr>

<br>