<app-loading *ngIf="loading"></app-loading>
<button class="btn btn-primary btn-lg siam-button siam-buttons-box" routerLink="home">Volver</button>
<br>
<br>
<form [formGroup]="attrForm" (ngSubmit)="guadarPaciente()">
    <div class="card siam-panel">
        <h5 class="card-header siam-panel-head siam-title">Información del usuario: {{hisPaciente.pacNombre}}</h5>
        <div class="card-body siam-panel-body">

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="userId" class="siam-input-label">Identificación</label>
                        <input [value]="hisPaciente.pacNumeroId" type="text" class="form-control siam-text-input-id" id="userId" aria-describedby="userIdType" disabled>
                        <small id="userIdType" class="form-text text-muted">Tipo de identificación: {{ conceptos.conNombre }} </small>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="userBirthday" class="siam-input-label">Fecha de nacimiento</label>
                        <input [value]="hisPaciente.pacFechaNac|date:'dd/MM/YYYY'" type="text" class="form-control siam-text-input-id" id="userBirthday" disabled>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="userAge" class="siam-input-label">Edad</label>
                        <input [value]="pacienteEdad" type="text" class="form-control siam-text-input-id" id="userAge" disabled>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="userEtnia" class="siam-input-label">Etnia</label>
                        <select id="userEtnia" class="form-control siam-select-input" formControlName="AttrEtnia">
                          <option hidden>Seleccionar</option>
                          <option *ngFor="let etnia of conceptosService.conceptosEtnia" [value]="etnia.conNumero" >{{ etnia.conNombre }}</option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="userSex" class="siam-input-label">Sexo</label>
                        <input [value]="hisPaciente.pacSexo|sexo" type="text" class="form-control siam-text-input-id" id="userSex" disabled>
                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        <label for="userOccupation" class="siam-input-label">Ocupación</label>
                        <input type="text" class="form-control siam-text-input-id" id="userOccupation" formControlName="AttrOcupacion">
                    </div>
                </div>
            </div>

            <br>

        </div>
    </div>
    <br>
    <br>


    <div class="card siam-panel">
        <h5 class="card-header siam-panel-head siam-title">Variables Clínicas</h5>
        <div class="card-body siam-panel-body">
            <form>

                <div class="row">

                    <div class="col">
                        <div class="form-group">
                            <label for="userConsultDate" class="siam-input-label">Fecha de primera consulta en el programa de falla cardíaca </label>
                            <input type="text" class="form-control siam-text-input-id" id="userConsultDate" formControlName="AttrFechaPrimConsul">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="userComorbidity" class="siam-input-label">Comorbilidades</label>
                            <select id="userComorbidity" class="form-control siam-select-input" formControlName="AttrComorbilidad">
                          <option selected hidden>Seleccionar</option>
                          <option *ngFor="let concepto of conceptosService.conceptosComorbilidad" [value]="concepto.conNumero">{{ concepto.conNombre }}</option>
                        </select>
                        </div>
                    </div>

                </div>

                <div class="row">


                    <div class="col">
                        <div class="form-group">
                            <label for="userDispositivoCardiaco" class="siam-input-label">Implante de dispositivos cardíacos</label>
                            <select id="userDispositivoCardiaco" class="form-control siam-select-input" formControlName="AttrImplanteDispositivo">
                                <option hidden>Seleccionar</option>
                                <option (click)="mostrarDispositivosCardiacos(concepto.conParametro)" *ngFor="let concepto of conceptosService.conceptosSiNo" [value]="concepto.conNumero">{{ concepto.conNombre }}</option>
                        </select>
                        </div>
                    </div>

                    <div class="col" *ngIf="implanteCardiaco || pacienteAttr.attrImplanteDispositivo != conceptosService.conceptosNo.conNumero">
                        <div class="form-group">
                            <label for="userDispositivoCardiacoType" class="siam-input-label">Tipo de dispositivos cardíacos</label>
                            <select id="userDispositivoCardiacoType" class="form-control siam-select-input" formControlName="AttrTipoImplanteDispositivo">
                            <option hidden>Seleccionar</option>
                            <option *ngFor="let concepto of conceptosService.conceptosDispCardiaco" [value]="concepto.conNumero">{{ concepto.conNombre }}</option>
                          </select>
                        </div>
                    </div>

                </div>


                <div class="row">

                    <div class="col">
                        <div class="form-group">
                            <label for="userSindromeClinico" class="siam-input-label">Forma de presentación del síndrome clínico</label>
                            <select id="userSindromeClinico" class="form-control siam-select-input" formControlName="AttrFormaSindClinico">
                            <option hidden>Seleccionar</option>
                            <option (click)="otroSindromeClinico(concepto.conParametro)" *ngFor="let concepto of conceptosService.conceptosSindClinico" [value]="concepto.conNumero">{{ concepto.conNombre }}</option>
                        </select>
                        </div>
                    </div>

                    <div class="col" *ngIf="tieneOtroSindromeClinico || pacienteAttr.attrFormaSindClinico == conceptosService.conceptosOtroSindClinico.conNumero">
                        <div class="form-group">
                            <label for="userSindromeClinicootro" class="siam-input-label">¿Cual?</label>
                            <input type="text" class="form-control siam-text-input-id" id="userSindromeClinicootro" formControlName="AttrOtraFormaSindClinico">
                        </div>
                    </div>

                </div>



                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="userManifestacionesExtracardiacas" class="siam-input-label">Manifestaciones extracardíacas</label>
                            <select id="userManifestacionesExtracardiacas" class="form-control siam-select-input" formControlName="AttrManifestExtracardiaca">
                          <option hidden>Seleccionar</option>
                          <option (click)="mostrarManifestacionesExtracardiacas(concepto.conParametro)" *ngFor="let concepto of conceptosService.conceptosSiNo" [value]="concepto.conNumero" >{{ concepto.conNombre }}</option>
                        </select>
                        </div>
                    </div>
                    <div class="col" *ngIf="tieneManifestacionesExtracardiacas  || pacienteAttr.attrManifestExtracardiaca != conceptosService.conceptosNo.conNumero">
                        <div class="form-group">
                            <label for="userManifestacionesExtracardiacasType" class="siam-input-label">Tipo de manifestaciones extracardíacas</label>
                            <select id="userManifestacionesExtracardiacasType" class="form-control siam-select-input" formControlName="AttrTipoManifestExtracardiaca">
                          <option hidden>Seleccionar</option>
                          <option (click)="otrasManifestacionesExtracardiacas(concepto.conParametro)" *ngFor="let concepto of conceptosService.conceptosManifesCardi" [value]="concepto.conNumero">{{ concepto.conNombre }}</option>
                        </select>
                        </div>
                    </div>
                    <div class="col" *ngIf="tieneOtrasManifestacionesExtracardiacas || pacienteAttr.attrTipoManifestExtracardiaca == conceptosService.conceptosOtraManifesCardi.conNumero">
                        <div class="form-group">
                            <label for="userManifestacionesExtracardiacasOtroTipo" class="siam-input-label">¿Cual?</label>
                            <input type="text" class="form-control siam-text-input-id" id="userManifestacionesExtracardiacasOtroTipo" formControlName="AttrOtroTipoManifestExtracardiaca">
                        </div>
                    </div>

                </div>

            </form>
            <br>

        </div>
    </div>
    <br>
    <br>



    <div class="card siam-panel">
        <h5 class="card-header siam-panel-head siam-title">Biomarcadores</h5>
        <div class="card-body siam-panel-body">
            <form>

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="userProBNP" class="siam-input-label">NT-proBNP</label>
                            <input type="number" class="form-control siam-text-input-id" id="userProBNP" formControlName="AttrNTproBN">
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group">
                            <label for="userTroponinT" class="siam-input-label">Troponin T</label>
                            <input type="number" class="form-control siam-text-input-id" id="userTroponinT" formControlName="AttrTroponinT">
                        </div>
                    </div>
                </div>

            </form>
            <br>

        </div>
    </div>

    <br>
    <br>



    <div class="card siam-panel">
        <h5 class="card-header siam-panel-head siam-title">Ecocardiografía</h5>
        <div class="card-body siam-panel-body">

            <div class="row">

                <div class="col">
                    <div class="form-group">
                        <label for="userGrosorVentriculoIzquierdo" class="siam-input-label">Grosor de cualquier pared del ventrículo izquierdo ≥ 14 mm</label>
                        <select id="userGrosorVentriculoIzquierdo" class="form-control siam-select-input" formControlName="AttrGrosorVentri">
                            <option hidden>Seleccionar</option>
                            <option (click)="mostrarGrosorVentriculoIzquierdo(concepto.conParametro)" *ngFor="let concepto of conceptosService.conceptosSiNo" [value]="concepto.conNumero">{{ concepto.conNombre }}</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row" *ngIf="tieneGrosorVentriculoIzquierdo || pacienteAttr.attrGrosorVentri != conceptosService.conceptosNo.conNumero">

                <div class="col">
                    <div class="form-group">
                        <label for="userEjectionFraction" class="siam-input-label">Fracción de eyección</label>
                        <input type="number" class="form-control siam-text-input-id" id="userEjectionFraction" formControlName="AttrFracEyecc">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="userTroponinT" class="siam-input-label">Deformación longitudinal apical</label>
                        <input type="number" class="form-control siam-text-input-id" id="userTroponinT" formControlName="AttrDeformLong">
                    </div>
                </div>

            </div>

            <br>

        </div>
    </div>


    <br>
    <br>


    <div class="card siam-panel">
        <h5 class="card-header siam-panel-head siam-title">Imágenes diagnósticas confirmatorias</h5>
        <div class="card-body siam-panel-body">

            <div class="row">

                <div class="col">

                    <div class="form-group">
                        <label for="userResonanciaMagnetica" class="siam-input-label">Resonancia Magnética nuclear con Gadolinio</label>
                        <select id="userResonanciaMagnetica" class="form-control siam-select-input" formControlName="AttrResoNucleGodolinio">
                            <option hidden>Seleccionar</option>
                            <option (click)="mostrarResonanciaMagnetica(concepto.conParametro)" *ngFor="let concepto of conceptosService.conceptosResMagGodoli" [value]="concepto.conNumero">{{ concepto.conNombre }}</option>
                        </select>
                    </div>

                </div>

                <div class="col" *ngIf="tieneResonanciaMagnetica">

                    <div class="form-group">
                        <label for="userTipoResonanciaMagnetica" class="siam-input-label">Tipo de anormalidad de la resonancia Magnética nuclear con Gadolinio</label>
                        <select id="userTipoResonanciaMagnetica" class="form-control siam-select-input" formControlName="AttrTipoAnormGadolinio">
                        <option *ngFor="let concepto of conceptosService.conceptosTipMagGodoli" [value]="concepto.conNumero" >{{ concepto.conNombre }}</option>

                        </select>
                    </div>

                </div>
            </div>

            <div class="row">

                <div class="col">
                    <div class="form-group">
                        <label for="userGammagrafiaOsea" class="siam-input-label">Gammagrafía ósea con Tc-HMDP o pirofosfato (PYP)</label>
                        <select id="userGammagrafiaOsea" class="form-control siam-select-input" formControlName="AttrGammagr">
                            <option hidden>Seleccionar</option>
                            <option *ngFor="let concepto of conceptosService.conceptosGammagrafia" [value]="concepto.conNumero">{{ concepto.conNombre }}</option>
                        </select>
                    </div>
                </div>

            </div>

            <br>

        </div>
    </div>

    <br>
    <br>


    <div class="card siam-panel">
        <h5 class="card-header siam-panel-head siam-title">Caracterización genética</h5>
        <div class="card-body siam-panel-body">
            <div class="row">

                <div class="col">
                    <div class="form-group">
                        <label for="userAmiloidosisPrimaria" class="siam-input-label">Amiloidosis primaria (AL)</label>
                        <select id="userAmiloidosisPrimaria" class="form-control siam-select-input" formControlName="AttrAmiloidosis">
                            <option hidden>Seleccionar</option>
                            <option *ngFor="let concepto of conceptosService.conceptosSiNo" [value]="concepto.conNumero">{{ concepto.conNombre }}</option>
                        </select>
                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        <label for="userAttr" class="siam-input-label">ATTR-CM</label>
                        <select id="userAttr" class="form-control siam-select-input" formControlName="AttrAttrCm">
                            <option hidden>Seleccionar</option>
                            <option (click)="mostrarAttr(concepto.conParametro)" *ngFor="let concepto of conceptosService.conceptosSiNo" [value]="concepto.conNumero">{{ concepto.conNombre }}</option>
                        </select>
                    </div>
                </div>

            </div>

            <div class="row" *ngIf="tieneAtter || pacienteAttr.attrAttrCm != conceptosService.conceptosNo.conNumero">

                <div class="col">
                    <div class="form-group">
                        <label for="userFechaAttr" class="siam-input-label"> Fecha de diagnóstico de ATTR</label>
                        <input type="text" class="form-control siam-text-input-id" id="userFechaAttr" formControlName="AttrFechaAttrCm">
                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        <label for="userTipoAttr" class="siam-input-label">Tipo ATTR-CM</label>
                        <select id="userTipoAttr" class="form-control siam-select-input" formControlName="AttrTipoAttrCm">
                            <option hidden>Seleccionar</option>
                            <option *ngFor="let concepto of conceptosService.conceptosTipoAttr" [value]="concepto.conNumero" >{{ concepto.conNombre }}</option>
                        </select>
                    </div>
                </div>

            </div>

            <br>

        </div>
    </div>

    <br>
    <br>


    <div class="card siam-panel">
        <h5 class="card-header siam-panel-head siam-title">Manejo medico</h5>
        <div class="card-body siam-panel-body">
            <form>

                <div class="row">

                    <div class="col">
                        <div class="form-group">
                            <label for="userInvervencionFarmacologica" class="siam-input-label">Intervención farmacológica </label>
                            <select id="userInvervencionFarmacologica" class="form-control siam-select-input" formControlName="AttrInterFamaco">
                                <option hidden>Seleccionar</option>
                                <option (click)="otraInvervencionFarmacologica(concepto.conParametro)" *ngFor="let concepto of conceptosService.conceptosInterFamaco" [value]="concepto.conNumero">{{ concepto.conNombre }}</option>
                            </select>
                        </div>
                    </div>

                    <div class="col" *ngIf="tieneOtraInvervencionFarmacologica || pacienteAttr.attrInterFamaco == conceptosService.conceptosOtraInterFamaco.conNumero">
                        <div class="form-group">
                            <label for="userOtraInvervencionFarmacologica" class="siam-input-label">¿Cual?</label>
                            <input type="text" class="form-control siam-text-input-id" id="userOtraInvervencionFarmacologica" formControlName="AttrOtroInterFamaco">
                        </div>
                    </div>

                </div>

            </form>
            <br>

        </div>
    </div>


    <br>
    <br>

    <button class="btn btn-primary btn-lg siam-button siam-buttons-box" type="submit"> Guardar/Actualizar información del paciente </button>

    <br>
    <hr>
</form>

<div class="card siam-panel">
    <h5 class="card-header siam-panel-head siam-title">Hospitalizaciones</h5>
    <div class="card-body siam-panel-body">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" class="table-header">#</th>
                    <th scope="col" class="table-header">Fecha Ingreso Hospitalización</th>
                    <th scope="col" class="table-header">Fecha Egreso Hospitalización</th>
                    <th scope="col" class="table-header">Diagnostico Ingreso Hospitalización</th>
                    <th scope="col" class="table-header">Diagnostico Egreso Hospitalización</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>10/07/2021</td>
                    <td>12/07/2021</td>
                    <td>Bastante curioso</td>
                    <td>Poco curioso</td>

                </tr>

            </tbody>
        </table>
        <br>
        <form>
            <div class="row">

                <div class="col">

                    <div class="form-group">
                        <label for="userHospitalizacionesFCardiaca" class="siam-input-label"> Hospitalizaciones por falla cardiaca</label>
                        <select id="userHospitalizacionesFCardiaca" class="form-control siam-select-input">
                            <option selected hidden>Seleccionar</option>
                            <option (click)="mostrarHospitalizacionesFCardiaca(true)">Si</option>
                            <option (click)="mostrarHospitalizacionesFCardiaca(false)">No</option>
                        </select>
                    </div>

                </div>

            </div>

            <div class="row" *ngIf="tieneHospitalizacionesFCardiaca">

                <div class="col">
                    <div class="form-group">
                        <label for="userFechaIngresoUltHsptzn" class="siam-input-label">Fecha del ingreso a ultima hospitalización</label>
                        <input type="text" class="form-control siam-text-input-id" id="userFechaIngresoUltHsptzn">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="userFechaEgresoUltHsptzn" class="siam-input-label">Fecha de egreso de la ultima hospitalización</label>
                        <input type="text" class="form-control siam-text-input-id" id="userFechaEgresoUltHsptzn">
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="tieneHospitalizacionesFCardiaca">

                <div class="col">
                    <div class="form-group">
                        <label for="userDiagnosticoIngresoUltHsptzn" class="siam-input-label">Diagnóstico de ingreso de ultima hospitalización</label>
                        <input type="text" class="form-control siam-text-input-id" id="userDiagnosticoIngresoUltHsptzn">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="userDiagnosticoEgresoUltHsptzn" class="siam-input-label">Diagnóstico de egreso de ultima hospitalización</label>
                        <input type="text" class="form-control siam-text-input-id" id="userDiagnosticoEgresoUltHsptzn">
                    </div>
                </div>

            </div>

            <!-- <Button *ngIf="tieneHospitalizacionesFCardiaca" class="btn btn-primary btn-lg siam-button">Agregar</Button> -->
        </form>
    </div>
</div>

<br>
<br>

<div class="card siam-panel">
    <h5 class="card-header siam-panel-head siam-title">CALIDAD DE VIDA - CONTROLES</h5>
    <div class="card-body siam-panel-body">
        <form>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="userVisitaControl" class="siam-input-label">Fecha de visita control</label>
                        <input type="text" class="form-control siam-text-input-id" id="userVisitaControl">
                    </div>
                </div>
            </div>
        </form>
        <br>

    </div>
</div>

<div class="card siam-panel">
    <h5 class="card-header siam-panel-head siam-title">Cuestionario EQ - 5D</h5>
    <div class="card-body siam-panel-body">
        <form>
            <div class="row">

                <div class="col">
                    <div class="form-group">
                        <label for="userMovilidad" class="siam-input-label">Movilidad</label>
                        <select id="userMovilidad" class="form-control siam-select-input">
                            <option selected hidden>Seleccionar</option>
                            <option>No tengo problemas para caminar</option>
                            <option>Tengo algunos problemas para caminar</option>
                            <option>Tengo que estar en la cama</option>
                        </select>
                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        <label for="userDolorMalestar" class="siam-input-label">Dolor/malestar</label>
                        <select id="userDolorMalestar" class="form-control siam-select-input">
                            <option selected hidden>Seleccionar</option>
                            <option>No tengo dolor ni malestar</option>
                            <option>Tengo moderado dolor o malestar</option>
                            <option>Tengo mucho dolor y malestar</option>
                        </select>
                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        <label for="userAnsiedadDepresión" class="siam-input-label">Ansiedad/Depresión</label>
                        <select id="userAnsiedadDepresión" class="form-control siam-select-input">
                            <option selected hidden>Seleccionar</option>
                            <option>No estoy ansioso ni deprimido</option>
                            <option>Estoy moderadamente ansioso o deprimido</option>
                            <option>Estoy muy ansioso o deprimido</option>
                        </select>
                    </div>
                </div>

            </div>
            <div class="row">

                <div class="col">
                    <div class="form-group">
                        <label for="userMovilidad" class="siam-input-label">Cuidado personal</label>
                        <select id="userMovilidad" class="form-control siam-select-input">
                            <option>No tengo problemas con el cuidado personal</option>
                            <option>Tengo algunos problemas para lavarme o vestirme</option>
                            <option>Soy incapaz de lavarme o vestime</option>
                        </select>
                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        <label for="userDolorMalestar" class="siam-input-label">Actividades cotidianas</label>
                        <select id="userDolorMalestar" class="form-control siam-select-input">
                            <option selected hidden>Seleccionar</option>
                            <option>No tengo problemas para realizar mis actividades cotidianas</option>
                            <option>Tengo algunos problemas para realizar mis actividades cotidianas</option>
                            <option>Soy incapaz de realizar mis actividades cotidianas</option>
                        </select>
                    </div>
                </div>

            </div>
        </form>
        <br>

    </div>
</div>

<br>
<br>

<div class="card siam-panel">
    <h5 class="card-header siam-panel-head siam-title">Cuestionario Minnesota Living with Heart Failure (MLFH)</h5>
    <div class="card-body siam-panel-body">
        <form>
            <div class="row" *ngFor="let filaFormulario of formularioMlfh">

                <div class="col" *ngFor="let columnaFormulario of filaFormulario">
                    <div class="form-group">
                        <label for="userMovilidad" class="siam-input-label">{{columnaFormulario.name}}</label>
                        <select id="userMovilidad" class="form-control siam-select-input">
                            <option selected hidden>Seleccionar</option>
                            <option>0</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>

            </div>

        </form>
        <br>

    </div>
</div>